.home {
  width: 100%;
  margin-top: 25px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.create {
  display: flex;
  border: 3px solid $color-1;
  border-radius: 15px;
  background-color: $color-3;
  padding: 5px;
}

.create_header {
  display: flex;
  align-items: center;
  & p {
    margin-left: 5px;
    color: $color-2;
    font-weight: bold;
  }
}

.create_form {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 100%;
  & textarea {
    min-height: 80px;
    width: 100%;
    resize: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 5px;
  }
  .create_button {
    cursor: pointer;
    background: $color-2;
    color: white;
    border-radius: 10px;
    margin-top: 5px;
    font-size: 1.1rem;
    padding: 5px 20px;
    border: 2px solid transparent;
    transition: 300ms ease-out;
    &:hover {
      background: rgb(72, 204, 72);
      transition: 300ms ease-in;
    }
  }
}

.home_posts {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 25px;
  max-width: 1000px;
}

.home_post {
  border: 3px solid $color-1;
  background-color: $color-3;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 10px;
}

.home_post_content {
  cursor: pointer;
  width: 100%;
  min-height: 50px;
  border: 1px solid $color-1;
  border-radius: 5px;
  background-color: white;
  text-align: left;
  padding: 10px;
  margin-bottom: 10px;
}

.home_post_image {
  cursor: pointer;
  & img {
    width: clamp(250px, 20vw, 500px);
  }
}

.home_post_footer {
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
  & p {
    font-weight: bold;
    color: $color-2;
    text-transform: capitalize;
  }
}

.home_post_comment {
  color: $color-2;
  cursor: pointer;
  &:hover {
    transform: scale(1.3);
    transition: 300ms ease-in;
  }
}

.home_post_buttons {
  display: flex;
  align-items: center;
  & p {
    margin-left: 10px;
  }
}

.home_post_buttons_like {
  cursor: pointer;
  color: dodgerblue;
  &:hover {
    transform: scale(1.3);
    transition: 300ms ease-in;
  }
}

.home_post_buttons_unlike {
  cursor: pointer;
  color: white;
  &:hover {
    transform: scale(1.3);
    transition: 300ms ease-in;
  }
}
