.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-1;
  box-shadow: $shadow;
  width: 100vw;
  img {
    width: 300px;
    padding: 10px;
  }
}
