.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  height: 65px;
  border-radius: 50px;
  background-color: $color-1;
  box-shadow: $shadow;
  width: 50vw;
  @media screen and(max-width: 980px) {
    width: 90vw;
  }
  @media screen and(max-width: 400px) {
    border-radius: 0px;
    width: 100vw;
    margin-top: 5px;
  }
}

.navbar_welcome {
  color: white;
  font-size: clamp(18px, 5vw, 30px);
}

.navbar_icon {
  cursor: pointer;
  transform: scale(1.7);
  color: white;
  @media screen and(max-width: 500px) {
    transform: scale(1.3);
  }
}
